<h1>Flights Search</h1>
<div class="container">
<%= form_for @flight do |f| %>
  <%= f.collection_select :flight_id,
                          Flight.all.order(:origin_id),
                          include_blank: 'Origin' %>
<% end %>
</div>