.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px
}

.btn {
  border: 1px solid lightsteelblue;
}